#CropInsurance{


}

#CropInsurance hr {
    border-width: 3px 0 0 0;
    border-color: #767676;
    border-style: solid;
}
#CropInsurance h1{
    text-align:center;
    color:darkcyan;
    font-weight:700;
}
#CropInsurance h3 {
        color: darkcyan;
 }
#CropInsurance p{
    text-align:justify;
}