#wrapper .logo {
  margin: 10px 0;
  width: 100%;
  display: inline-block;
}

  #wrapper .logo img {
    max-width: 150px;
    max-height: 75px !important;
  }

#wrapper .jumbotron {
  margin-top: 20px;
  padding: 1.875em;
  padding-top: 1em;
  background-color: aliceblue;
  border-radius: 10px;
}

  #wrapper .jumbotron .RadButton {
    float: left;
    margin-top: .667em;
    font-size: .5em;
  }

#wrapper .footer {
  width: 100%;
  padding: 30px 15px;
  line-height: 30px;
}

table.rssTable {
  margin: 4px 15px;
  color: #87888A;
}

.rssTable td {
  vertical-align: top;
}

.rssContent {
  float: left;
}

.layoutWrapper {
  margin: 0 auto;
  font-family: "Segoe UI", helvetica,arial,sans-serif;
  color: #eee;
  padding: 10px;
  background: url('images/tabletFrame.png');
  width: 780px;
  height: 513px;
}

.rssDate {
  color: #389E3B;
  font-size: 12pt;
}

.rssTitle {
  width: 560px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16pt;
  color: #eee;
  position: relative;
  left: 160px;
  top: -90px;
  margin-bottom: -50px;
}

  .rssTitle a {
    font-size: 16pt;
    color: #eee;
    text-decoration: none;
  }

.rssSubHeader {
  font-size: 10pt;
  padding-left: 3px;
  color: #999;
}

.rssTable table a > img {
  height: 125px;
  width: 140px;
}

.rssButtons {
  width: 24px;
  height: 24px;
  padding: 0 10px;
}

.imageWrapper {
  width: 100%;
  text-align: center;
}

#wrapper .footer {
  width: 100%;
  padding: 30px 15px !important;
  line-height: 30px;
  background-color: #999999;
  border-top-color: #333333;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  overflow: hidden;
  font-size: 12px;
  border-top: 0 solid transparent;
}

  #wrapper .footer .copyright-divider {
    border-top-width: 1px;
  }

    #wrapper .footer .copyright-divider p {
      padding-left: 50px !important;
      color: white;
    }

.teamcards {
  width: 100%;
  margin: 5px;
  border: solid 1px darkgray;
  border-radius: 10px;
  padding: 5px;
  height: 100%;
  text-align: justify;
}

  .teamcards h2 {
    font-size: 1.5em;
    margin: 0;
  }

  .teamcards h5 {
    margin: 0;
  }

  .teamcards img {
    width: 140px;
    float: left;
    margin-right: 15px;
    border-radius: 10px;
  }

.MyLabel {
  display: block;
  width: 150px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: right;
  font-weight: bold;
}

.MyLabel2 {
  display: block;
  width: 170px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: right;
  font-weight: bold;
}

.MyLabel3 {
  display: block;
  width: 200px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: right;
  font-weight: bold;
}

.MyLabel4 {
  display: block;
  width: 210px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: right;
  font-weight: bold;
}

.RadButton.rbRounded.css3Simple {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  font-size: 1em;
}

.RadButton.rbRounded.css3SimpleAction {
  height: 37px;
  width: 200px;
  border-radius: 5px;
  font-size: .75em;
  padding: 5px;
}

.RadButton.rbRounded.css3Simple2 {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 1em;
}

  .RadButton.rbRounded.css3Simple2 .rbText {
    margin-top: 0 !important;
  }

html body form .RadInput .MyEmptyTextBox,
html body form .RadInput .MyEnabledTextBox,
html body form .RadInput .MyFocusedTextBox {
  height: 38px;
  border-width: 1px;
  border-color: #a9c9a9;
  background: beige;
  font: 14px/18px arial,sans-serif;
}

html body form .RadInput .MyHoveredTextBox {
  background: #bceff8 !important;
}

html body form .RadInput .MyFocusedTextBox {
  background: white !important;
}

.RadInput textarea.riTextBox {
  height: auto !important;
}

.RadComboBox .MyEnabledTextBox {
  height: 38px;
  border-width: 1px;
  border-color: #a9c9a9;
  background: beige !important;
  font: 14px/18px arial,sans-serif;
}

html body form .RadInput .MyEmptyTextBox2,
html body form .RadInput .MyEnabledTextBox2,
html body form .RadInput .MyHoveredTextBox2,
html body form .RadInput .MyFocusedTextBox2 {
  border-width: 1px;
  border-color: #a9c9a9;
  background: beige;
  font: 14px/18px arial,sans-serif;
}

html body form .RadInput .MyDisabledTextBox {
  height: 38px;
  border-width: 0;
  border-color: #fff;
  font: 1em arial,sans-serif;
}

html body .RadInput .MyEmptyTextBox {
  color: #999;
}

html body form .RadInput .MyEnabledTextBox {
}

html body form .RadInput .MyHoveredTextBox {
  border-color: #6c6;
  background: #c9fdc9;
}

html body form .RadInput .MyFocusedTextBox {
  border-color: #3a3;
  background: #c9fdc9;
}

#messageDisplayArea {
  width: 100%;
  text-align: center;
}

.errorMessageDisplay {
  padding-left: 10px;
  padding-right: 10px !important;
  line-height: 1em;
  background-color: darkred;
  font-weight: bold;
  color: white !important;
}

.successMessageDisplay {
  padding-left: 10px;
  padding-right: 10px !important;
  line-height: 1em;
  min-width: 186px;
  background-color: greenyellow;
  font-weight: bold;
  color: black;
}

.RadGrid_Silk .rgEditRow > td > [type="text"] {
  width: 100% !important;
}

.appErrorMessage {
  text-align: justify;
  color: darkred;
  font-weight: bold;
}

.adminTiles {
  width: 100%;
  margin: auto !important;
  padding: 5px;
  min-height: 500px;
}

.gridDescriptionLabel {
  display: block;
  width: 150px !important;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: left;
  font-weight: bold;
}

.careerPosting {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  width: 95% !important;
  margin: 10px !important;
  padding-left: 10px !important;
  padding-right: 30px !important;
}

.contactcard {
  width: 100%;
  margin: auto !important;
  padding: 5px;
  border: solid 1px darkgray;
  border-radius: 10px;
}

  .contactcard h2 {
    font-size: 1.5em;
    color: #1c73bf !important;
  }

  .contactcard img {
    font-size: 1.5em;
    color: #1c73bf !important;
    max-width: 100%;
    border-radius: 10px;
  }

.MyContactLabel {
  display: block;
  width: 90px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: right;
}

.imageClass {
  margin-top: 10px;
  margin-bottom: 10px;
}

.rcRefreshImage {
  padding-left: 25px;
  padding-right: 25px;
}

.MyCaptchaTextBox {
  height: 38px;
  border-width: 1px;
  border-color: #a9c9a9;
  background: beige;
  font: 14px/18px arial,sans-serif;
  border-radius: 5px;
  margin-right: 10px;
}

.article {
  width: 95%;
  margin: 5px;
  border: solid 1px lightgray;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  height: 100%;
  text-align: justify;
}

  .article h2 {
    font-size: 1.15em;
    margin: .5em 0;
  }

  .article h5 {
    margin: .5em 0;
  }

  .article img {
    width: 400px;
    float: left;
    margin-right: 15px;
    border-radius: 10px;
  }

.homearticle {
  width: 95%;
  margin: 5px;
  border: solid 1px lightgray;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  height: 100%;
  min-height: 400px;
  text-align: justify;
}

  .homearticle h2 {
    font-size: 1.15em;
    margin: .5em 0;
  }

  .homearticle h5 {
    margin: .5em 0;
  }

  .homearticle img {
    width: 400px;
    float: left;
    margin-right: 15px;
    border-radius: 10px;
  }

   .smallinner img {
    width: 300px;
    float: left;
    margin-right: 15px;
    border-radius: 10px;
  }

.rotator {
  width: 90%;
  margin: 5px auto;
  border-radius: 10px;
  padding: 10px;
  height: 90%;
}

  .rotator h2 {
    font-weight: bold;
    font-size: 1.875em;
    margin: .5em;
    padding: 15px 5px 5px 5px;
  }

  .rotator p {
    font-weight: bold;
    font-size: 1.25em;
    margin: .5em;
    padding: 5px;
    text-align: justify;
  }

  .rotator  img {
    margin: 15px;
    width: 470px;
    border: 0;
    border-radius: 10px !important;
  }

  .rotator  img {
    margin: 15px;
    width: 470px;
    border: 0;
    border-radius: 10px !important;
  }

.left {
    float: left;
}
.right {
    float: right;
}
#HempTrailKY .container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 1em;
}
.RadToolTip {
    z-index: 99999 !important;
}