#wrapper .logo {
    margin: 10px 0;
    width: 100%;
    display: inline-block;
}

#wrapper .logo img {
    max-width: 100%;
}

#wrapper .jumbotron {
  margin-top: 20px;
  padding: 1.875em;
  padding-top: 1em;
  background-color: aliceblue;
  border-radius: 10px;
}

#wrapper .jumbotron .RadButton {
    float: left;
    margin-top: .667em;
    font-size: .5em;
}

#wrapper .footer {
    width:100%;
    padding: 30px 15px;
    line-height: 30px;
}